<form id="product-form" role="form" novalidate (ngSubmit)="submit()" #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="myproductLabel">Create or edit a new product</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-sm-4">
        <img *ngIf="product.image && fileToUpload===null" width="250" height="250" [src]="product.image" [alt]="product._name">
        <img *ngIf="fileToUpload!==null || !product.image" width="250" height="250" [src]="fileBase64" [alt]="product._name">

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" required
                 [(ngModel)]="product._name" />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" required
                 [(ngModel)]="product._price" />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_des">Description</label>
          <textarea name="description"  required
                    class="form-control" id="field_des" rows="3" [(ngModel)]="product._description"></textarea>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_available">Available</label>
          <input type="checkbox" class="form-control" name="isAvailable" id="field_available"
                 [(ngModel)]="product._isAvailable" />
        </div>

        <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" id="close">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button id="saveProduct" type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
