<div id="pic">
  <div id="tittle">Flavor and variety!</div>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <div class="container">
    <div id="img-cakes" class="row">
      <div class="col-4" >
        <figure>
          <figcaption>
            <h1>Coffee cake</h1>

          </figcaption>
          <img width="330" height="250" src="https://img.taste.com.au/sCaoSTnw/taste/2016/11/black-forest-cake-92535-1.jpeg">
        </figure>
      </div>
      <div class="col-4">
        <figure>
          <figcaption>
            <h1>Party Cake</h1>
          </figcaption>
          <img width="330" height="250" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/4/5/0/RX-FNM_050111-TV-Sweeps-010_s4x3.jpg.rend.hgtvcom.616.462.suffix/1371595337466.jpeg">
        </figure>
      </div>
      <div class="col-4">
        <figure>
          <figcaption>
            <h1>Chocolate Cake</h1>
          </figcaption>
          <img width="330" height="250" src="https://thestayathomechef.com/wp-content/uploads/2016/06/The-Most-Amazing-Chocolate-Cake-Square-1-320x320.jpg">
        </figure>
      </div>

    </div>
  </div>

</div>
<router-outlet></router-outlet>
