#pic {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('https://static.pexels.com/photos/353347/pexels-photo-353347.jpeg');
  background-size: cover;
}

#tittle {
  font-family: 'IBM Plex Serif', serif;
  color: white;
  font-size: 80px;
  text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 3px #000;
  -webkit-text-shadow: 0 0 3px #000;
}

.container .row img {
  border-radius: 50%;
  margin: 25px;
  box-shadow: 0 0 15px #000;
}

.container {
  border: 50px;
}

figcaption {
  display: none;
}

figure:hover figcaption {
  font-family: "Al Nile", serif;
  display: block;
  color: white;
  position: fixed;
  margin: 25px;
  width: 330px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);

}

figcaption > h1 {
  margin-top: 30%;
}




