<br>
<h2>Clients</h2>
<br>
<br>
<div class="row">
  <div class="col-sm-2 offset-8">
    <button class="btn btn-success" [routerLink]="['new']">
      <i class="fas fa-plus"></i>
      New
    </button>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients">
            <th>{{client.id}}</th>
            <th>{{client.name}}</th>
            <th>{{client.age}}</th>
            <th>{{client.phone}}</th>

            <th>
              <button class="btn btn-info" type="submit"
                      [routerLink]="['edit', client.id]">
                <i class="fas fa-edit"></i>
                Edit
              </button>
              <button class="btn btn-danger" type="submit"
                      [routerLink]="['delete', client.id]">
                <i class="fas fa-trash"></i>
                Delete
              </button>
            </th>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
