<form role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="myClientLabel">Create or edit a new client</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="form-control-label" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name" required
             [(ngModel)]="client.name" />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_code">Age</label>
      <input type="number" class="form-control" name="age" id="field_code" required
             [(ngModel)]="client.age" />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_phone">Phone</label>
      <input type="text" class="form-control" name="phone" id="field_phone" required
             [(ngModel)]="client.phone" />
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
