<form role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" >

  <div class="modal-header">
    <h4 class="modal-title" id="myClientLabel">Login</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" for="field_email">Email</label>
      <input type="email" class="form-control" name="username" id="field_email"
             [(ngModel)]="user.username" required email/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_password">Password</label>
      <input type="password" class="form-control" name="password" id="field_password"
             [(ngModel)]="user.password" required/>
    </div>
  </div>

  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
          </button>
        </div>
        <div class="col-sm-6">
          <button type="submit" [disabled]="editForm.form.invalid || user.password.trim() === ''" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
