<nav class="navbar navbar-expand-lg">
  <a routerLink="/"  class="navbar-brand">
    <img src="../../../assets/cake.png" width="40" height="40" alt="icon">
    Piece of Cake
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="product" style="cursor:pointer">Products </a>
      </li>
      <li class="nav-item" [hidden]="!authService.loggedIn">
        <a class="nav-link" routerLink="client"  style="cursor:pointer">Clients</a>
      </li>
      <li>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Account</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  [hidden]="authService.loggedIn"
                  class="dropdown-item"
                  [routerLink]="['login']" id="sign-up">
                  <i class="fas fa-user-circle"></i> Sign up</button>
                <button
                  [hidden]="!authService.loggedIn" id="logout"
                  class="dropdown-item"
                  (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
