a {
  font-family: 'IBM Plex Serif', serif;
}

nav {
  color: white;
  background-color:  rgba(146, 0, 15, 0.81);
}

button{
  font-family: 'IBM Plex Serif', serif;
}

.navbar-brand{
  color: white;
  text-shadow: black !important;
}
nav h4 {
  padding-top: 0.5em;
  font-weight: bold;
  color: white;
  text-shadow: black;
}

nav li a {
  font-size: 16px;
  color: white;
}

#dropdownBasic1 {
  background-color:transparent;
  position: relative;
  border-color: transparent;
  color: white;
}

#dropdownBasic1:hover {
  border-color: #f6faff;
  background-color: rgba(255, 133, 121, 0.27);
  color: white;
}

button.dropdown-item {
  position: relative;
}

button.dropdown-item:hover #dropdownBasic1{
  background-color: rgba(146, 0, 15, 0.81);
}

img {
  border: 1px solid white;
  padding: 1px;
  border-radius: 50%;

}


