<br>
<h2>Products</h2>
<br>
<br>
<div class="row">
  <div class="col-sm-2 offset-8">
  <button id="new-product" class="btn btn-success" [routerLink]="['new']">
    <i class="fas fa-plus"></i>
    New
  </button>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Available</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products" id="productsList">
              <th>{{product.id}}</th>
              <th>{{product._name}}</th>
              <th>{{product._price | currency}}</th>
              <th>{{product._description}}</th>
              <th *ngIf="product._isAvailable; else other">
                <i class="fas fa-check"></i>
              </th>
              <ng-template #other>
                <th>
                  <i class="fas fa-times-circle"></i>
                </th>
              </ng-template>
              <th>
                <button class="btn btn-info" type="submit"
                        [routerLink]="['edit',product.id]">
                  <i class="fas fa-edit"></i>
                  Edit
                </button>
                <button class="btn btn-danger" type="submit"
                        [routerLink]="['delete',product.id]">
                  <i class="fas fa-trash"></i>
                  Delete
                </button>
              </th>
            </tr>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
